.card-flip {
  background-color: transparent;
  perspective: 1000px;
}

.card-flip-inner {
  transform-style: preserve-3d;
}

.card-flip-front,
.card-flip-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-flip-back {
  transform: rotateY(180deg);
}
