.cta-message {
  animation: zoomout 1s 1s forwards;
  opacity: 0;
}

@keyframes zoomout {
  0% {
    opacity: 0;
    transform: translate(-50%, 0%);
    top: 50%;
    left: 50%;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
