@layer base {
  :root {
    --white-rgb: 255, 255, 255;
    --white: rgb(var(--white-rgb));

    --black-rgb: 0, 0, 0;
    --black: rgb(var(--black-rgb));

    /* pink: {
      100: "rgb(251, 225, 229)",
      200: "rgb(251, 225, 229)",
      300: "rgb(244, 166, 176)",
      400: "rgb(240, 136, 150)",
      500: "rgb(236, 106, 124)",
      600: "rgb(189, 85, 99)",
      700: "rgb(142, 64, 74)",
      800: "rgb(94, 42, 50)",
      900: "rgb(47, 21, 25)"
      } */

    --pink-100-rgb: 251, 225, 229;
    --pink-200-rgb: 251, 225, 229;
    --pink-300-rgb: 244, 166, 176;
    --pink-400-rgb: 240, 136, 150;
    --pink-500-rgb: 236, 106, 124;
    --pink-600-rgb: 189, 85, 99;
    --pink-700-rgb: 142, 64, 74;
    --pink-800-rgb: 94, 42, 50;
    --pink-900-rgb: 47, 21, 25;

    --pink-100: rgb(var(--pink-100-rgb));
    --pink-200: rgb(var(--pink-200-rgb));
    --pink-300: rgb(var(--pink-300-rgb));
    --pink-400: rgb(var(--pink-400-rgb));
    --pink-500: rgb(var(--pink-500-rgb));
    --pink-600: rgb(var(--pink-600-rgb));
    --pink-700: rgb(var(--pink-700-rgb));
    --pink-800: rgb(var(--pink-800-rgb));
    --pink-900: rgb(var(--pink-900-rgb));

    /* orange: {
      100: "rgb(253, 227, 217)",
      200: "rgb(250, 199, 180)",
      300: "rgb(248, 170, 142)",
      400: "rgb(245, 142, 105)",
      500: "rgb(243, 114, 67)",
      600: "rgb(194, 91, 54)",
      700: "rgb(146, 68, 40)",
      800: "rgb(97, 46, 27)",
      900: "rgb(49, 23, 13)"
      } */

    --orange-100-rgb: 253, 227, 217;
    --orange-200-rgb: 250, 199, 180;
    --orange-300-rgb: 248, 170, 142;
    --orange-400-rgb: 245, 142, 105;
    --orange-500-rgb: 243, 114, 67;
    --orange-600-rgb: 194, 91, 54;
    --orange-700-rgb: 146, 68, 40;
    --orange-800-rgb: 97, 46, 27;
    --orange-900-rgb: 49, 23, 13;

    --orange-100: rgb(var(--orange-100-rgb));
    --orange-200: rgb(var(--orange-200-rgb));
    --orange-300: rgb(var(--orange-300-rgb));
    --orange-400: rgb(var(--orange-400-rgb));
    --orange-500: rgb(var(--orange-500-rgb));
    --orange-600: rgb(var(--orange-600-rgb));
    --orange-700: rgb(var(--orange-700-rgb));
    --orange-800: rgb(var(--orange-800-rgb));
    --orange-900: rgb(var(--orange-900-rgb));

    /*     
yellow: {
  100: "rgb(255, 245, 204)",
  200: "rgb(255, 236, 153)",
  300: "rgb(255, 226, 103)",
  400: "rgb(255, 217, 52)",
  500: "rgb(255, 207, 1)",
  600: "rgb(204, 166, 1)",
  700: "rgb(153, 124, 1)",
  800: "rgb(102, 83, 0)",
  900: "rgb(51, 41, 0)"
  } */

    --yellow-100-rgb: 255, 245, 204;
    --yellow-200-rgb: 255, 236, 153;
    --yellow-300-rgb: 255, 226, 103;
    --yellow-400-rgb: 255, 217, 52;
    --yellow-500-rgb: 255, 207, 1;
    --yellow-600-rgb: 204, 166, 1;
    --yellow-700-rgb: 153, 124, 1;
    --yellow-800-rgb: 102, 83, 0;
    --yellow-900-rgb: 51, 41, 0;

    --yellow-100: rgb(var(--yellow-100-rgb));
    --yellow-200: rgb(var(--yellow-200-rgb));
    --yellow-300: rgb(var(--yellow-300-rgb));
    --yellow-400: rgb(var(--yellow-400-rgb));
    --yellow-500: rgb(var(--yellow-500-rgb));
    --yellow-600: rgb(var(--yellow-600-rgb));
    --yellow-700: rgb(var(--yellow-700-rgb));
    --yellow-800: rgb(var(--yellow-800-rgb));
    --yellow-900: rgb(var(--yellow-900-rgb));

    /* teal: {
      100: "rgb(216, 238, 236)",
      200: "rgb(177, 221, 218)",
      300: "rgb(138, 205, 199)",
      400: "rgb(99, 188, 181)",
      500: "rgb(60, 171, 162)",
      600: "rgb(48, 137, 130)",
      700: "rgb(36, 103, 97)",
      800: "rgb(24, 68, 65)",
      900: "rgb(12, 34, 32)"
      } */

    --teal-100-rgb: 216, 238, 236;
    --teal-200-rgb: 177, 221, 218;
    --teal-300-rgb: 138, 205, 199;
    --teal-400-rgb: 99, 188, 181;
    --teal-500-rgb: 60, 171, 162;
    --teal-600-rgb: 48, 137, 130;
    --teal-700-rgb: 36, 103, 97;
    --teal-800-rgb: 24, 68, 65;
    --teal-900-rgb: 12, 34, 32;

    --teal-100: rgb(var(--teal-100-rgb));
    --teal-200: rgb(var(--teal-200-rgb));
    --teal-300: rgb(var(--teal-300-rgb));
    --teal-400: rgb(var(--teal-400-rgb));
    --teal-500: rgb(var(--teal-500-rgb));
    --teal-600: rgb(var(--teal-600-rgb));
    --teal-700: rgb(var(--teal-700-rgb));
    --teal-800: rgb(var(--teal-800-rgb));
    --teal-900: rgb(var(--teal-900-rgb));

    /* blue: {
      100: "rgb(213, 223, 236)",
      200: "rgb(171, 192, 218)",
      300: "rgb(130, 160, 199)",
      400: "rgb(88, 129, 181)",
      500: "rgb(46, 97, 162)",
      600: "rgb(37, 78, 130)",
      700: "rgb(28, 58, 97)",
      800: "rgb(18, 39, 65)",
      900: "rgb(9, 19, 32)"
      } */

    --blue-100-rgb: 213, 223, 236;
    --blue-200-rgb: 171, 192, 218;
    --blue-300-rgb: 130, 160, 199;
    --blue-400-rgb: 88, 129, 181;
    --blue-500-rgb: 46, 97, 162;
    --blue-600-rgb: 37, 78, 130;
    --blue-700-rgb: 28, 58, 97;
    --blue-800-rgb: 18, 39, 65;
    --blue-900-rgb: 9, 19, 32;

    --blue-100: rgb(var(--blue-100-rgb));
    --blue-200: rgb(var(--blue-200-rgb));
    --blue-300: rgb(var(--blue-300-rgb));
    --blue-400: rgb(var(--blue-400-rgb));
    --blue-500: rgb(var(--blue-500-rgb));
    --blue-600: rgb(var(--blue-600-rgb));
    --blue-700: rgb(var(--blue-700-rgb));
    --blue-800: rgb(var(--blue-800-rgb));
    --blue-900: rgb(var(--blue-900-rgb));

    /*     
gray: {
  100: "rgb(222, 220, 220)",
  200: "rgb(189, 185, 186)",
  300: "rgb(157, 150, 151)",
  400: "rgb(124, 115, 117)",
  500: "rgb(91, 80, 82)",
  600: "rgb(73, 64, 66)",
  700: "rgb(55, 48, 49)",
  800: "rgb(36, 32, 33)",
  900: "rgb(18, 16, 16)"
  } */

    --gray-100-rgb: 222, 220, 220;
    --gray-200-rgb: 189, 185, 186;
    --gray-300-rgb: 157, 150, 151;
    --gray-400-rgb: 124, 115, 117;
    --gray-500-rgb: 91, 80, 82;
    --gray-600-rgb: 73, 64, 66;
    --gray-700-rgb: 55, 48, 49;
    --gray-800-rgb: 36, 32, 33;
    --gray-900-rgb: 18, 16, 16;

    --gray-100: rgb(var(--gray-100-rgb));
    --gray-200: rgb(var(--gray-200-rgb));
    --gray-300: rgb(var(--gray-300-rgb));
    --gray-400: rgb(var(--gray-400-rgb));
    --gray-500: rgb(var(--gray-500-rgb));
    --gray-600: rgb(var(--gray-600-rgb));
    --gray-700: rgb(var(--gray-700-rgb));
    --gray-800: rgb(var(--gray-800-rgb));
    --gray-900: rgb(var(--gray-900-rgb));
  }
}
