@font-face {
  font-family: 'Acre-Thin';
  src: url('/fonts/Acre-Thin.otf') format('opentype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Acre-Light';
  src: url('/fonts/Acre-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Acre-Regular';
  src: url('/fonts/Acre-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Acre-Medium';
  src: url('/fonts/Acre-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Acre-Semibold';
  src: url('/fonts/Acre-Semibold.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Acre-Bold';
  src: url('/fonts/Acre-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

@layer base {
  :root {
    --acre-thin: 'Acre-Thin', 'Gotham', 'Avenir', Arial, Helvetica, sans-serif;
    --acre-light: 'Acre-Light', 'Gotham', 'Avenir', Arial, Helvetica, sans-serif;
    --acre-regular: 'Acre-Regular', 'Gotham', 'Avenir', Arial, Helvetica, sans-serif;
    --acre-medium: 'Acre-Medium', 'Gotham', 'Avenir', Arial, Helvetica, sans-serif;
    --acre-semibold: 'Acre-Semibold', 'Gotham', 'Avenir', Arial, Helvetica, sans-serif;
    --acre-bold: 'Acre-Bold', 'Gotham', 'Avenir', Arial, Helvetica, sans-serif;
  }
}
