.section {
  @apply space-y-6 sm:space-y-8;
}

.principles-section {
  @apply space-y-10 sm:space-y-16;
}

.heading {
  @apply pb-4 sm:leading-tight;

  line-height: 1;
}

.diversity-subheading {
  @apply text-center px-6 pb-2 border-solid border-b-2 border-pink-500 inline-block;
}

.p-80 {
  @apply leading-normal;
}

.p-70 {
  @apply leading-normal;
}

.p-60 {
  @apply leading-normal;
}

.p-55 {
  @apply leading-normal;
}

.p-50 {
  @apply leading-normal;
}

.p-48 {
  @apply leading-normal;
}

.p-38 {
  @apply leading-normal;
}

@screen sm {
  .p-80 {
    line-height: 80px;
  }

  .p-70 {
    line-height: 70px;
  }

  .p-60 {
    line-height: 60px;
  }

  .p-55 {
    line-height: 55px;
  }

  .p-50 {
    line-height: 50px;
  }

  .p-48 {
    line-height: 48px;
  }

  .p-38 {
    line-height: 38px;
  }
}
