@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-full px-2 mx-auto max-w-app-full sm:px-4 md:px-6;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  body {
    color: var(--gray-500);
    font-family: var(--acre-regular);
  }
}
